*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    --primary: rgb(70, 70, 70);
    --secondary: rgb(88, 88, 88);
    --accent: rgb(236, 14, 14);
    --hover: rgb(131, 129, 129);
    color: white;
}

.container{
    display: flex;
    height: 100vh;
    background-color: var(--primary);
}

.main{
    background-color: var(--primary);
    width: 75%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.main button{
    width: fit-content;
    background-color: var(--primary);
}

.addTask:hover{
    background-color: var(--hover);
}

.addTask{
    margin-top: 20px;
    align-self: flex-end;
}

.addTask::first-letter{
    color: var(--accent);
    font-size: 1.5rem;
}

.inside{
    width: 93%;
    display: flex;
    flex-direction: column;
}

.projectName{
    display: flex;
}

.projectName h2{
    font-size: 2.5rem;
    padding-top: 20px;
}

.projectDescription div{
    font-size: 1.5rem;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.tasks{
    display: flex;
    flex-direction: column;
}

.projectTasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--secondary);
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid white;
    margin-top: 20px;
    gap: 10px;
}

.taskInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.taskControls{
    display: flex;
    gap: 10px;
}

.taskControls button{
    font-size: 1rem;
}

.editTask:hover{
    background-color: rgb(15, 211, 15);
}

.deleteTask:hover{
    background-color: var(--accent);
}

.taskForm{
    display: none;
    align-items: center;
    gap: 40px;
    padding: 10px;
    background-color: var(--secondary);
    border: 2px solid var(--accent);
    border-radius: 4px;
    margin-top: 20px;
}

.taskForm input{
    background-color: var(--primary);
    border: none;
}

.taskForm input::placeholder{
    color: white;
}

.taskInputs{
    display: flex;
    flex: 1;
    gap: 10px;
}

#taskDescription, #dueDate, .submitTask, .cancelTask{
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 4px;
}

#taskDescription{
    flex: 1;
}

.taskButtons{
    display: flex;
    gap: 10px;
}

.submitTask:hover{
    background-color: rgb(15, 211, 15);
}

.cancelTask:hover{
    background-color: var(--accent);
}

.editProject{
    display: none;
    flex-direction: column;
    gap: 10px;
}

.edits{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
}

.editTitle{
    display: flex;
}

#newName, #newDescription{
    flex: 1;
    width: 100%;
    border-radius: 4px;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    background-color: var(--secondary);
}

#newName::placeholder, #newDescription::placeholder{
    color: white;
}

.confirmEdits{
    display: flex;
    gap: 10px;
}

.confirmEdits button{
    background-color: var(--secondary);
}

.submitEdit:hover{
    background-color: rgb(15, 211, 15);
}

.cancelEdit:hover{
    background-color: var(--accent);
}

.topHeader{
    display: flex;
    justify-content: space-between;
}