*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    --primary: rgb(70, 70, 70);
    --secondary: rgb(88, 88, 88);
    --accent: rgb(236, 14, 14);
    --hover: rgb(131, 129, 129);
    color: white;
}

.container{
    display: flex;
    height: 100vh;
}

.main{
    background-color: var(--primary);
    width: 75%;
}

.main button{
    background-color: var(--primary);
}

.main button:hover{
    background-color: var(--hover);
}

.addTask::first-letter{
    color: var(--accent);
    font-size: 1.5rem;
}