.sidebar{
    background-color: var(--secondary);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 2rem;
    padding: 58px 0 20px 0;
    border-bottom: 2px solid white;
}

.inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1.5rem;
}

.sidebar button{
    background-color: var(--secondary);
    width: fit-content;
    align-self: end;
}

.sidebar button:hover{
    background-color: var(--hover);
}

.addProject::first-letter{
    color: var(--accent);
    font-size: 1.5rem;
}

.projectCards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.projectCards button{
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid white;
    width: 100%;
    text-align: start;
}

.titleCard:hover{
    border: 2px solid var(--accent);
}

#currentProject{
    border: 2px solid var(--primary);
    color: white;
    background-color: var(--accent);
}

.projectButtons{
    display: flex;
    gap: 10px;
}

#editProject, #deleteProject{
    width: 50%;
    font-size: 1rem;
    text-align: center;
}

#editProject:hover{
    background-color: rgb(15, 211, 15);
}

#deleteProject:hover{
    background-color: var(--accent);
}